<h3>
	Username: {{firstName}} {{lastName}}
</h3>

<h5> Username:</h5>
<p>{{username}}</p>
<h5>First name:</h5>
<p>{{firstName}}</p>
<h5>Last name:</h5>
<p>{{lastName}}</p>
<h5>Profession:</h5>
<p>{{profession}}</p>
<h5>Bio:</h5>
<p>{{bio}}</p>
